{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
<form action="{{ url_for('addproperty') }}"  method="POST" enctype="multipart/form-data" class="col-md-8">
  {{ createForm.csrf_token }}

  <h2>Add New Property</h2>
  
  <div class = "form-group">
    {{createForm.title.label}}
    {{createForm.title(class = "form-control")}}
  </div>
  <div class = "form-group">
    {{createForm.description.label}}
    {{createForm.description(class_="form-control", **{"rows": "4"})}}
  </div>
  <div class = "row">
        <div class = "form-group">
          {{createForm.num_bedrooms.label}}
          {{createForm.num_bedrooms(class = "form-control")}}
        </div>
        <div class = "form-group">
          {{createForm.num_bathrooms.label}}
          {{createForm.num_bathrooms(class = "form-control")}}
        </div>
      </div>
      <div class = "row">
        <div class = "form-group">
          {{createForm.price.label}}
          {{createForm.price(class = "form-control")}}
        </div>
          <div class = "form-group">
            {{createForm.property_type.label}}
            {{createForm.property_type(class = "form-control")}}
          </div>
        </div>
        <div class = "form-group">
          {{createForm.photo.label}}
          {{createForm.photo(class = "form-control")}}
        </div>
        <div class = "form-group">
          {{createForm.location.label}}
          {{createForm.location(class = "form-control")}}
        </div>
      <br>
        
        <button type = "submit" name = "submit" class="btn btn-primary col-md-2">Add Property</button>
</form>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}